@charset "UTF-8";
/*CSS document */

ul{
    text-align: center;
    color: gray;
    text-decoration: none;
    padding-bottom: 20px;
}

li {
    display: inline-block;
    color: gray;
    text-decoration: none;
    margin-right: 50px;
}

li a:hover{
    background-color: gray;
}

.active{
    background-color: gray;
}


.main {
    margin: 0px auto 0px auto;
    Width: 960px;
    padding: 20px 40px 20px 40px;
    word-spacing: 1.5px;
    line-height: 25px;
}

.image{
    display: block;
    width:100%;
    height: auto;
}

.groundimg{
    float:left;
    margin-right: 20px;
    position: relative;
    width: 100%;
    max-width: 400px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-image: url(../assets/img/changling_3.jpeg);
    background-size: cover;
}

.groundimg:hover .overlay{
    opacity: 1;
}

.label{
    text-align: center;
}

.smallcol{
    float: left;
    margin-top: 15px;
    width: 30%
}

.smallcol img{
    margin-bottom: 15px;
}

.smallcol p{
    text-align: center;
    color: gray
}

.logo{
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.bigcol{
    float:right;
    margin-top: 15px;
    width: 70%;
}

.bigcol p{
    text-align: left;
    margin-left: 80px;
}

.bigcol img{
    float: right;
}

.midcol1{
    float: left;
    margin-top: 15px;
    width: 40%;
}

.midcol1 p{
    text-align: left;
    color: gray;
}

.midcol1 img{
    float: right;
}

.midcol2{
    float: right;
    margin-top: 15px;
    width: 60%;
}

.midcol2 p{
    text-align: left;
    color: gray;
}

.midcol2 img{
    float: left;
}

div.gallery {
    margin: 5px;
    /*border: 1px solid #ccc;*/
    float: left;
    width: 450px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    /*padding: 10px;*/
    text-align: center;
    color: gray;
    font-size: small;
}

.bottomNote{
    position: fixed;
    bottom: 5px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    margin-right: 20px;
}