<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xavier Changling Li</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <style type="text/css"></style>
</head>
<body>
<!-- navi bar -->
<div class="navibar">
    <nav>
        <ul>
            <a href="../index.html"><li>About</li></a>
            <a href="../assets/CV.pdf"><li>CV</li></a>
            <a href="MachineLearning.html"><li>Machine Learning</li></a>
            <a href="InteractiveSystem.html"><li>Interactive System</li></a>
            <a href="Activism.html"><li class="active">Activism</li></a>
            <a href="Astrophysics.html"><li>Astrophysics</li></a>
            <a href="Art.html"><li>Art</li></a>
        </ul>
    </nav>
</div>

<!-- main content -->
<div class="main">
    <div class="midcol2">
        <a target="_blank" href="../assets/zine.pdf">
            <img src="../assets/img/activism/page1.jpeg" width="260" height=auto style="margin-left: 15px">
            <img src="../assets/img/activism/page2.jpeg" width="260" height=auto>
            <img src="../assets/img/activism/page3.jpeg" width="260" height=auto style="margin-left: 15px">
            <img src="../assets/img/activism/page4.jpeg" width="260" height=auto>
            <img src="../assets/img/activism/page5.jpeg" width="260" height=auto>
        </a>
    </div>
    <div class="midcol1">
        <p style="text-align: left">With my diverse identities and enthusiasm in machine learning, I realized the problem of AI bias and inspired me to explore possible solutions.
            In collaboration with the Education Department, I created a short <a href="../assets/zine.pdf">zine</a> to raise the awareness of biases in AI. I researched on the causes of biases from both
        algorithm design and historical data and arrived at the advocacy that incorporation of data ethics in computer science education is a possible solution.
            My belief in data ethics shaped my own research as well. I am confident that incorporating AI fairness will benefit the underrepresented groups. I believe biases in AI can be eliminated from the education and thus,
            we can bring the change to the society.  </p>
    </div>
</div>
<div class="bottomNote">
    <p style="color:gainsboro">Last updated Dec 13 2021</p>
</div>
</body>
</html>