<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xavier Changling Li</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <style type="text/css"></style>
</head>
<body>
<!-- navi bar -->
<div class="navibar">
    <nav>
        <ul>
            <a href="../index.html"><li>About</li></a>
            <a href="../assets/CV.pdf"><li>CV</li></a>
            <a href="MachineLearning.html"><li>Machine Learning</li></a>
            <a href="InteractiveSystem.html"><li>Interactive System</li></a>
            <a href="Activism.html"><li>Activism</li></a>
            <a href="Astrophysics.html"><li>Astrophysics</li></a>
            <a href="Art.html"><li class="active">Art</li></a>
        </ul>
    </nav>
</div>

<!-- main content -->
<div class="main">
<p style="color: gray">Being suspicious of ADHD, my parents sent me to learn drawing since I was 4 years old. The expression through
colors and strokes attracted my attention immediately and I fell in love with the creation ever since. It becomes a lens through which I
    learn and understand the world. I have experimented with various media including acrylic, oil, sculpture, installation and digital.
    With the support of my art teacher <a href="https://wendytai.com/">Wendy Tai</a>, I was able to host my first exhibition, theme of
    which is symbolism of insects. I explored the utilization of insects in expression of love, body and time. Combined with my passion
    for machine learning, I researched the application of it to art and generated random drawing tool. I also utilized deep dream network
    to generate processed images to show how machine sees the world. Some selected artworks of mine are shown below.</p>
</div>
<div class="main">
    <div class="gallery">
        <a target="_blank" href="../assets/img/art/selfish_love.jpeg">
            <img src="../assets/img/art/selfish_love.jpeg" alt="selfish_love" height="800">
        </a>
        <div class="desc">YOUR LOVE ON DEATH OF ANOTHER</div>
        <div class="desc">Installation with clay and metal</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="../assets/img/art/selfish_loveII.jpeg">
            <img src="../assets/img/art/selfish_loveII.jpeg" alt="selfish_loveII" height="800">
        </a>
        <div class="desc">TILL DEATH</div>
        <div class="desc">Oil painting on wooden board</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="../assets/img/art/censorship.jpeg">
            <img src="../assets/img/art/censorship2.jpeg" alt="censorship" width="800">
        </a>
        <div class="desc">CENSORED</div>
        <div class="desc">Installation with oil painting and color pencil on paper</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="../assets/img/art/eviscerate.jpeg">
            <img src="../assets/img/art/eviscerate.jpeg" alt="eviscerate" width="800">
        </a>
        <div class="desc">EVISCERATE</div>
        <div class="desc">Paper cutting</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="../assets/img/art/self_portrait.jpeg">
            <img src="../assets/img/art/self_portrait.jpeg" alt="eviscerate" width="800">
        </a>
        <div class="desc">SELF-PORTRAIT</div>
        <div class="desc">Acrylic on canvas</div>
    </div>

</div>
<div class="main">
    <div class="gallery">
        <a target="_blank" href="../assets/img/art/born_again.jpeg">
            <img src="../assets/img/art/born_again.jpeg" alt="born_again" width="800">
        </a>
        <div class="desc">AFTERMATH</div>
        <div class="desc">Acrylic, pencil, and crayon on paper</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="../assets/img/art/wing_to_transformation.jpeg">
            <img src="../assets/img/art/wing_to_transformation.jpeg" alt="wing_to_transformation" width="800">
        </a>
        <div class="desc">WING TO TRANSFORMATION</div>
        <div class="desc">Acrylic on wooden board</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="../assets/img/art/privacy.jpeg">
            <img src="../assets/img/art/privacy.jpeg" alt="privacy" width="800">
        </a>
        <div class="desc">SPOTLIGHT</div>
        <div class="desc">Performance with found object</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="../assets/img/art/born_againII.jpeg">
            <img src="../assets/img/art/born_againII.jpeg" alt="born_againII" width="800">
        </a>
        <div class="desc">CONTAINER</div>
        <div class="desc">Acrylic, color pencil, and pencil on paper</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="../assets/img/art/beauty_remains.jpeg">
            <img src="../assets/img/art/beauty_remains.jpeg" alt="beauty_remains" width="800">
        </a>
        <div class="desc">BEAUTY REMAINS</div>
        <div class="desc">Acrylic and clay on wooden board</div>
    </div>

</div>

<div class="bottomNote">
    <p style="color:gainsboro">Last updated Dec 13 2021</p>
</div>

</body>
</html>
