<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xavier Changling Li</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <style type="text/css"></style>
</head>
<body>
<!-- navi bar -->
<div class="navibar">
    <nav>
        <ul>
            <a href="../index.html"><li>About</li></a>
            <a href="../assets/CV.pdf"><li>CV</li></a>
            <a href="MachineLearning.html"><li>Machine Learning</li></a>
            <a href="InteractiveSystem.html"><li>Interactive System</li></a>
            <a href="Astrophysics.html"><li class="active">Astrophysics</li></a>
            <a href="Art.html"><li>Art</li></a>
        </ul>
    </nav>
</div>

<!-- main content -->
<div class="main">
    <div class="bigcol">
        <img src="../assets/img/nebula.png" width="600px" height="auto" style="margin-left: 15px">
    </div>
    <div class="smallcol">
        <p style="text-align: left">Astrophysics is my another passion besides machine learning. Exploring the grand space and phenomena
        excites me while knowing that our relatively short life span cannot give us the opportunity to directly interact with the objects nor witness the whole process of change also
        makes me pensive. It is an emotional journey to learn and research in astrophysics which leads me to explore the application of
            computer science and machine learning in this field in hope to simulate the impossible and help the exploration of the science frontier.
            On the right is an enhanced true color image of nebula NGC 7635 created by me and my partners Sarah Bash and Nick Peterson. We took images in H-alpha filter,
            R filter, and V filter with Colby College's Young Telescope and used a color balance star SAO 20581 to adjust the color. NGC 7635 is also known as
        bubble nebula. To me, it looks more like a sound embryo embracing new stars. </p>
        <p style="text-align: left"> Please check out more of my astrophysics related projects <a href="https://github.com/XavierChanglingLi/astrophysics">here</a>.</p>
    </div>
</div>
<div class="bottomNote">
    <p style="color:gainsboro">Last updated Oct 13 2021</p>
</div>

</body>
</html>
