<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xavier Changling Li</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <style type="text/css"></style>
</head>
<body>
<!-- navi bar -->
<div class="navibar">
    <nav>
        <ul>
            <a href="../index.html"><li>About</li></a>
            <a href="../assets/CV.pdf"><li>CV</li></a>
            <a href="MachineLearning.html"><li class="active">Machine Learning</li></a>
            <a href="InteractiveSystem.html"><li>Interactive System</li></a>
            <a href="Activism.html"><li>Activism</li></a>
            <a href="Astrophysics.html"><li>Astrophysics</li></a>
            <a href="Art.html"><li>Art</li></a>
        </ul>
    </nav>
</div>

<!-- main content -->
<div class="main">
    <div class="midcol2">
        <img src="../assets/img/trajectory6.png" width="260" height=auto style="margin-left: 15px">
        <img src="../assets/img/trajectory.png" width="260" height=auto>
    </div>
    <div class="midcol1">
        <p style="text-align: left">My honor thesis explores the application of multi-agent reinforcement learning(MARL) in trajectory planning of
        drone networks. We modified the Q-learning network to a multi-agent Q learning network with a shared reward across the agents. The goal
        is to execute the tasks with non-binary length with least energy consumed. The first figure on the left shows the trajectories of 9 agents.
        The second figure shows the trajectory of a single agent. A more detailed information can be found in the <a href="../assets/poster.pdf">academic poster</a> presented in
            Colby College Undergraduate Research Retreat in summer of 2021. I am currently exploring the application of MARL when the tasks' locations
            are random. More of my machine learning related projects can be found in my <a href="https://github.com/XavierChanglingLi/PersonalProject/tree/main/neural%20network">github</a>.</p>
    </div>
</div>
<div class="bottomNote">
    <p style="color:gainsboro">Last updated Dec 13 2021</p>
</div>
</body>
</html>